.clients {
	// @extend %section;
	@include section;
}

.clients__title {
	@include title;
}

.clients .card-set__item {
	--items: 6;
}

.clients__link {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 170px;
	min-height: 92px;
	border: 1px solid var(--primary-icon-color);
	border-radius: 4px;
	color: var(--primary-icon-color);
	border-radius: 4px;
	border-color: var(--primary-icon-color);

	transition: color var(--animation), border-color var(--animation);

	&:hover,
	&:focus {
		border-color: var(--accent-text-color);
		color: var(--accent-text-color);
	}
}
