.container {
	// width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;

	outline: 2px solid red;
	outline-offset: -2px;

	// phone screen
	@media screen and (min-width: 480px) {
		width: 480px;
	}

	// tablet screen
	@media screen and (min-width: 720px) {
		width: 720px;
	}

	// desktop screen
	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}
