.header {
	border-bottom: var(--primary-border);
}

.header__list {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		padding: 21px 0;
	}

	@media screen and (min-width: 1600px) {
		display: flex;
		align-items: center;
		gap: 50px;
		padding: 0;
	}
}

.header__container {
	display: flex;
	align-items: center;
	min-height: 80px;
}

.header__link {
	display: flex;
	align-items: center;
	gap: 10px;

	@media screen and (min-width: 1600px) {
		padding: 32px 0;
	}

	@media screen and (min-width: 768px) {
		font-size: 12px;
		line-height: calc(14 / 12);
	}

	color: var(--secondary-text-color);

	&:hover,
	&:focus {
		color: var(--accent-text-color);
	}
}

.header__link--contacts {
	width: 14px;
	height: 10px;
}
.header__link--tel {
	height: 14px;
}
