.hero {
	// max-width: 480px;

	max-width: 1600px;
	min-height: 400px;
	padding-top: 120px;

	@media screen and (min-width: 1200px) {
		min-height: 600px;
		padding-top: 200px;
	}

	margin: 0 auto;

	// padding-bottom: 250px;
	background-color: var(--hero-background-color);
	// background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	// phone
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero/hero_s@1x.jpg");

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero_s@2x.jpg");
	}

	// tablet
	@media screen and (min-width: px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero_m@1x.jpg");

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/hero/hero_m@2x.jpg");
		}
	}

	// desktop
	@media screen and (min-width: 769px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero_l@1x.jpg");

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/hero/hero_l@2x.jpg");
		}
	}
}

.hero__title {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white-color);

	@media screen and (min-width: 1200px) {
		max-width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
}
