.logo {
	@media screen and (min-width: 1200px) {
		margin-right: 92px;
	}

	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--accent-text-color);
}

.logo--background-light {
	color: var(--primary-text-color);
}

.logo--background-dark {
	color: var(--primary-white-color);
}
